

td{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 2px solid black;
    font-size: 100px

    
  }
  
  table{
      margin-bottom: 100px;
      background: blue;
      
  }

  #team1
  {
      text-align: center;
      text-decoration-color: blue;
  }
 #button{
     text-align: center;
 }


  